*{
  /cursor: url(../kelaugh555/img/cat.png), auto;
}
body{
  user-select: none;
  margin: 0 auto;
  display: block;
  background-color: #e0e0e0;
  background-image: url(../);
  background-position: center;
  background-size: cover;
  transition: 1s;
}
/**/
.loading{
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  font-size: 2vw;
  background: linear-gradient(to top,rgb(173 151 122) 0,rgb(155 105 78) 100%);
  pointer-events: none;
}
.loading p{
  color: white;
  animation: loading 2s linear infinite;
  animation-play-state: running;
}
.loading img{
  width: 45vh;
  height: 45vh;
}
@keyframes loading{
  0%,100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}
.hide{
  opacity: 0;
  transition: .65s;
}
